USE [MedicsScheduling]
GO
/****** Object:  Table [dbo].[MedicalAppointments]    Script Date: 12/13/2019 3:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalAppointments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MedicId] [int] NULL,
	[MedicIds] [nvarchar](max) NULL,
	[Status] [int] NULL,
	[Subject] [nvarchar](50) NULL,
	[Description] [ntext] NULL,
	[Label] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Location] [nvarchar](50) NULL,
	[AllDay] [bit] NOT NULL,
	[EventType] [int] NULL,
	[RecurrenceInfo] [nvarchar](max) NULL,
	[ReminderInfo] [nvarchar](max) NULL,
	[ContactInfo] [ntext] NULL,
 CONSTRAINT [PK_MedicalAppointments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medics]    Script Date: 12/13/2019 3:47:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medics](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[DisplayName] [nvarchar](50) NULL,
	[Department] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[PhotoBytes] [image] NULL,
 CONSTRAINT [PK_Medics] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MedicalAppointments] ON 

INSERT [dbo].[MedicalAppointments] ([ID], [MedicId], [MedicIds], [Status], [Subject], [Description], [Label], [StartTime], [EndTime], [Location], [AllDay], [EventType], [RecurrenceInfo], [ReminderInfo], [ContactInfo]) VALUES (1, 1, N'<ResourceIds>
<ResourceId Value="~Xtra#Base64AAEAAAD/////AQAAAAAAAAAEAQAAAAxTeXN0ZW0uSW50MzIBAAAAB21fdmFsdWUACAEAAAAL" />
</ResourceIds>', 1, N'Andrew Glover', N'Contact info: (65) 965-4016', 1, CAST(N'2016-10-10T09:00:00.000' AS DateTime), CAST(N'2016-10-10T11:00:00.000' AS DateTime), N'Hospital', 0, 0, NULL, NULL, NULL)
INSERT [dbo].[MedicalAppointments] ([ID], [MedicId], [MedicIds], [Status], [Subject], [Description], [Label], [StartTime], [EndTime], [Location], [AllDay], [EventType], [RecurrenceInfo], [ReminderInfo], [ContactInfo]) VALUES (3, 1, N'<ResourceIds>
<ResourceId Value="~Xtra#Base64AAEAAAD/////AQAAAAAAAAAEAQAAAAxTeXN0ZW0uSW50MzIBAAAAB21fdmFsdWUACAEAAAAL" />
</ResourceIds>', 2, N'Mark Oliver', N'Contact info: (46) 683-6484', 2, CAST(N'2016-10-10T12:00:00.000' AS DateTime), CAST(N'2016-10-10T13:30:00.000' AS DateTime), N'Hospital', 0, 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MedicalAppointments] OFF
SET IDENTITY_INSERT [dbo].[Medics] ON 

SET IDENTITY_INSERT [dbo].[Medics] OFF
